header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  block-size: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(images/altum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.left-hand{
  position: absolute;
  top: 10%;
  left: 10%;
  inline-size: 450px;
}
.brand{
  color: white;
  font-size: 1.25rem;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 22px;
}
.brand-title{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}
.brand-des{
  color: white;
  font-family: arial;
  font-size: 0.7rem;
  line-height: 18px;
}
.feat{
  background-color: rgb(58, 154, 192);
  color: white;
  border: none;
  padding-block: 8px;
  padding-inline: 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 10px;
}
.down{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(58, 154, 192);
  font-size: 10px;
  font-weight: bold;
  padding-block: 8px;
  padding-inline: 18px;
  border-radius: 20px;
  border: 1px solid rgb(58, 154, 192);
  margin-left: 4px;
}
.brand-buttons{
  margin-top: 14px;
}
